---

---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="stylesheet" href="/styles/global.css" />

    <title>404 - choco house</title>
  </head>

  <body>
    <img src="/assets/images/share/momonster.png" />
    <p><</p>
    <span>
      <p>404</p>
      <a href="/">- トップに戻る -</a>
    </span>
  </body>
</html>

<style>
body {
  display        : flex;
  flex-direction : row;
  justify-content: center;
  align-items    : center;
}


span {
  display       : flex;
  flex-direction: column;
  align-items   : center;
}


a {
  margin : .2rem;
  padding: 0;
  font-size    : 1rem;
  border-bottom: 2px dotted black;
}


img {
  width : auto;
  height: 30dvh;
  object-fit: contain;
}


p {
  margin : 0 .5rem;
  padding: 0;
  font-size: 6rem;
}
</style>

