---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Gallery">
  <h2>
    <p>Gallery</p>
  </h2>

  <div class="container-gallery">
    <h3>王様あお 様 ( <a href="https://twitter.com/OsamaAo_V" target="_blank" rel="noopener noreferrer">@OsamaAo_V<a/> ) / illustrator: 明日あした 様 ( <a href="https://twitter.com/akebiashita" target="_blank" rel="noopener noreferrer">@akebiashita</a> )</h3>

    <span class="container-image">
      <img src="/assets/images/gallery/ousamaao_diff.png" alt="diff: ousama ao" />
      <img src="/assets/images/gallery/ousamaao_turn_table.gif" alt="turn table: ousama ao" />
    </span>
    <span>
      <iframe class="youtube-embedded" src="https://www.youtube.com/embed/FBnbvIFB6HY?si=fJGn7Cyqe-24LGaD&amp;start=789" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </span>
  </div>

  <div class="container-gallery">
    <h3>椛野すずめ 様 ( <a href="https://twitter.com/MomijinoS" target="_blank" rel="noopener noreferrer">@MomijinoS<a/> ) / illustrator: negiyan 様 ( <a href="https://twitter.com/negiyan11" target="_blank" rel="noopener noreferrer">@negiyan11</a> )</h3>

    <span class="container-image">
      <img src="/assets/images/gallery/momijino_suzume_diff.png" alt="diff: momijino suzume" />
      <img src="/assets/images/gallery/momijino_suzume_turn_table.gif" alt="turn table: momijino suzume" />
    </span>
    <span>
      <iframe class="youtube-embedded" src="https://www.youtube.com/embed/AbJwZXMJVnw?si=ju-9BgvZm64EAG4c&amp;start=273" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </span>
  </div>
</BaseLayout>

<style>
h3 {
  border-bottom: dotted 2px black;
}


.container-row {
  justify-content: space-between;
}


.container-gallery {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  width  : 100%;
  height : auto;
  margin : 0 0 5rem 0;
  padding: 0;
}

.container-gallery img {
  width : auto;
  height: 30dvh;
  object-fit: contain;
}


.container-image {
  display       : flex;
  flex-direction: row;
}


.youtube-embedded {
  width  : auto;
  height : 20dvh;
  margin : 2rem 0;
  padding: 0;
  aspect-ratio: 16/9;
}


@media (max-aspect-ratio: 14/19) {
  .container-image {
    display       : flex;
    flex-direction: column;
  }
}
</style>

