---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Order">
  <h2>
    <p>Order</p>
  </h2>

  <span class="container-order">
    <h3>◆ 3Dサービス内容</h3>

    <ul>
      <li>図面を元にしたモデルを制作します。</li>
      <li>
        納品形式<br/>
        <ul>
          <li>モデル：VRM</li>
          <li>テクスチャ：PSD</li>
          <li>FBXやgLTFなど、納品形式のご希望があればご相談ください。</li>
        </ul>
      <li>
        表情（Blend Shape）<br/>
        <ul>
          <li>あいうえお</li>
          <li>喜怒哀楽</li>
          <li>まばたき</li>
          <li>その他表情等を追加したい場合は有料となります（1つにつき3000円）。</li>
        </ul>
      </li>

      <li>
        その他<br/>
        <ul>
          <li>
            揺れもの：3点【ご自由に指定してください】<br/>
            ※3点以上設定する場合は有料となります（1点につき5000円）。
          </li>
        </ul>
      </li>
    </ul>
  </span>
    
  <span class="container-order">
    <h3>◆ 制作の流れ</h3>

    <p>「★」が依頼者様にてご対応いただく工程になります。</p>
    <ol>
      <li>
        制作・お見積もり依頼 ★<br/>
        ※詳細は<a href="https://tiyo-momo.github.io/contact" target="_blank" rel="noopener noreferrer">CONTACTページ</a>をご確認ください。
      </li>
      <li>見積もり提示</li>
      <li>
        見積もり確認・依頼確定 ★<br/>
        ※このタイミングで制作代金の半分をお振込いただきます。
      </li>
      <li>
        モデル制作<br/>
        制作工程ごとにスクリーンショット等を添えてご連絡します。<br/>
        修正希望がありましたら仰ってください。
      </li>
      <li>動作等の最終確認（動画等で提示し、依頼者様にて確認いただきます。） ★</li>
      <li>制作代金の残金振込 ★</li>
      <li>データ納品</li>
    </ol>
  </span>

  <span class="container-order">
    <h3>◆ ご注意いただく点</h3>

    <ul>
      <li>現在アニメ制作会社で働いており、納期は多少前後することがございます。ご容赦ください。</li>
      <li>
        ご確認いただきOKとした後の大幅な変更や修正に関しては、
        追加で納期や料金のご相談をさせていただく場合がございます。
      </li>
      <li>
        制作したモデルは当方のポートフォリオ、Twitterアカウントで完成報告として
        使用させていただく場合がございます。
      </li>
      <li>
        ご依頼いただくデザインに関する問題や、モデルの使用に起因する損害や損失に対して、
        当方はその責任を一切負わないものとします。
      </li>
    </ul>
  </span>

  <span class="container-order">
    <h3>◆ 納期・代金</h3>

    <ul>
      <li>作業開始時期<br/>
        <ul>
          <li>ご依頼ごとに異なりますので、お問い合わせください</li>
        </ul>
      <li>納期</li>
        <ul>
          <li>デザインやご依頼時期により異なりますので、お見積もりの際にご提示します</li>
        </ul>
      <li>代金<br/>
        <ul>
          <li>基本料金：60万円～（複雑なデザイン・装飾品の多さによって変動いたします）</li>
          <li>前金：基本料金の半額</li>
          <li>
            納品後：残りの金額<br/>
            ※分割払いを希望される場合はご相談ください。<br/>
            ※表情・揺れもの等追加の代金などございましたらこれに追加されます。
          </li>
      </li>
    </ul>
  </span>
</BaseLayout>

<style>
h3 {
  margin : 2rem 0 .5rem 0;
  padding: 0;
}

ul, ol {
  margin : .5rem 0;
  padding: 0 0 0 1rem;
}

li {
  margin : .1rem 0;
  padding: 0;
}

a {
  border-bottom: 2px dotted black;
}
</style>

