---

---

<footer>
  <p>&copy; 2024 choco house All rights reserved.</p>
  <img src="/assets/images/share/shop_icon_black.png" alt="shop icon" />
  <p>illustration: もけお 様 ( <a href="https://twitter.com/mokeooo" target="_blank" rel="noopener noreferrer">@mokeooo</a> )</p>
</footer>

<style>
footer {
  display        : flex;
  flex-direction : row;
  justify-content: center;
  align-items    : center;
  position       : sticky;
  top            : 100%;
  sticky : top-full;
  margin : 4rem 0 0 0;
  padding: 1rem;
}

footer img {
  margin : 0;
  padding: 0
  width  : auto;
  height : 7rem;
}
</style>

